* {
  font-family: "Roboto Sans", Verdana, Arial, sans-serif;
}
h1, h2, h3 {
  font-family: "Liberation Serif", Georgia, "Times New Roman", serif;
}
body {
  margin: 0;
  padding: 0 1em;
  background-image: url(/images/bg04.jpg), linear-gradient(to bottom, rgb(12,32,26) 50%, #535145);
  background-size: contain;
  background-repeat: no-repeat;
}
main {
  background: #FFF;
  padding: 1em;
}
p {
  text-align: justify;
	font-size: 18px;
}
img {
  max-width: 90%;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
